* {
  margin: 0;
  box-sizing: border-box;
}
.welcome {
  text-align: center;
  background: url(images/h_img.jpg);
  background-size: cover;
  height: 700px;
  background-position: center;
  padding-top: 200px;
}

.about {
  text-align: center;
}

.services {
  text-align: center;
  background: url(images/s_image.jpg);
  background-size: cover;
  height: 400px;
  padding-top: 200px;
}

.logo {
  color: white;
}
