/*start of page*/
* {
  margin: 0;
  box-sizing: border-box;
}

/*WELCOME TO DELANI STUDIOS*/
.welcome {
  text-align: center;
  background: url(images/stairs.jpg);
  background-size: cover;
  height: 700px;
  background-position: center;
  padding-top: 200px;
}
/*MOUSE*/
.mouseclick {
  margin-top: 8rem;
}

/*ABOUT*/
.about {
  text-align: center;
}

/*SERVICES*/
.services {
  color: white;
  text-align: center;
  background: url(images/laptop.jpg);
  background-size: cover;
  height: 400px;
  padding-top: 200px;
}
/*Delani Logo*/
.logo {
  color: white;
}

/*H1*/
h1 {
  color: white;
  padding: -50px;
}

h4 {
  color: white;
}

/*WHAT WE DO*/
.what {
  width: 100%;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.what-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.what-images > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*PORTFOLIO*/
.portfolio {
  padding: 20px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
}

.card-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: transparent;
}

.card:hover .card-body {
  opacity: 0.5;
}

.card-body {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: blanchedalmond;
}

.portfolio-images {
  display: block;
  width: 100%;
  height: auto;
}

/*CONTACT*/
.contact {
  background-image: url(images/c_image.jpg);
  height: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container > h3 {
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact-frm {
  color: white;
  margin-bottom: 20px;
  background-color: transparent;
}
.contact-frm::placeholder {
  color: white;
}
.contact-frm > input {
  width: 350px;
  height: 30px;
  background-color: transparent;
  color: white;
}

.contact-msg {
  color: white;
  background-color: transparent;
}

/*Footer*/
.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-img {
  margin-bottom: 20px;
}

.footer-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-txt > p {
  font-size: 14px;
}

/*WHAT WE DO*/
#design2 {
  display: none;
}
#development2 {
  display: none;
}
#project2 {
  display: none;
}

.btn {
  color: white;
}

.whatwe {
  text-align: center;
  margin-bottom: 100px;
}
